/maps/default.tmx
/maps/default2.tmx
/maps/summerset.tmx
/maps/Of Lands (Main).tsx
/maps/Locations.tsx
/maps/Settlements.tsx
/maps/ol.tiled-project
/maps/ol.tiled-session
/music/*
/tilesets/example.ase
OfLands.exe
OfLandsConfigurator.exe
OfLands.zip
OfLands_TILED_BACKUP.zip
# RCEdit : to be downloaded from here: https://github.com/electron/rcedit/releases
rcedit-x64.exe