/maps/default.tmx
/maps/default2.tmx
/maps/summerset.tmx
/maps/Of Lands (Main).tsx
/maps/Locations.tsx
/maps/Settlements.tsx
/maps/ol.tiled-project
/maps/ol.tiled-session
/music/*
/tilesets/example.ase
/_temp
OfLands.exe
OfLandsConfigurator.exe
OfLands.zip
OfLands_TILED_BACKUP.zip
# RCEdit : to be downloaded from here: https://github.com/electron/rcedit/releases
rcedit-x64.exe



# Any random bullshit that I store that shouldn't be counted
tilesets/example_too_complex_ig.png
tilesets/road_palette.png
tilesets/transparency_cleaner.exe
# PTR specific
tilesets/factions_ptr.png
tilesets/ptr_locs.png
tilesets/ptr_locs.oldata
maps/tamriel.olf
maps/tamriel.olm

maps/TR_Old_Dres.png
maps/tamriel_20251020.png
maps/Tamriel.png
maps/Tamriel.jpg